
*.txt
1 Index/.ipynb_checkpoints/sem1_Index-checkpoint.ipynb
2
.idea/infosearch.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
proj/bilm/__init__.py
proj/bilm/__pycache__/__init__.cpython-36.pyc
proj/bilm/__pycache__/__init__.cpython-37.pyc
proj/bilm/__pycache__/data.cpython-36.pyc
proj/bilm/__pycache__/data.cpython-37.pyc
proj/bilm/__pycache__/model.cpython-36.pyc
proj/bilm/__pycache__/elmo.cpython-36.pyc
proj/bilm/data.py
proj/bilm/elmo.py
proj/bilm/model.py
proj/elmo/meta.json
proj/elmo/model.hdf5
*.json
proj/elmo/README
proj/elmo/vocab.txt.gz
proj/fasttext/model.model
proj/elmo_helpers.py
proj/fasttext/model.model.vectors.npy
proj/fasttext/model.model.vectors_vocab.npy
proj/fasttext/README
proj/get_elmo_vectors.py
proj/vocabulary.py
proj/quora_question_pairs_rus.csv
.idea/vcs.xml
proj/__pycache__/constants.cpython-36.pyc
proj/lemmatized_tf_idf_matrix.npy
